.root:global(.__wab_instance) {
  position: relative;
  background: none;
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-ehZ9fgBqUElN);
  font-family: var(--token-0DSJN2ZU4OKb);
  font-size: var(--token-o5K1yKsfFxHE);
  line-height: var(--token-AywcRSdhTTv5);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-pY6mRM4vh2i5);
  padding: 16px 12px;
  border-width: 0px;
}
.root[data-hovered]:global(.__wab_instance) {
  color: #ffffff;
  background: var(--token-bSbL7gS-JLE7);
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-K0T5BnUgj5BF);
  outline-offset: 1px;
  outline-color: var(--token-bSbL7gS-JLE7);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-NPeVuWTduKrp);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-U93syax8LeXu);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-3jcr4rnuAGLY);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-_YLxETW0lbdc);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-yDFJsmyBW-fM);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-im1AV5JkuHeT);
  font-size: var(--token-BpQdeh6J6e9p);
  column-gap: var(--token-K0T5BnUgj5BF);
  row-gap: 0px;
  border-radius: var(--token-138ba7rHgJY2);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-BpQdeh6J6e9p);
  line-height: var(--token-im1AV5JkuHeT);
  column-gap: var(--token-138ba7rHgJY2);
  row-gap: 0px;
  border-radius: var(--token-138ba7rHgJY2);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-4uCsc_qpXI9w);
  line-height: var(--token-k4Om1yQgeCHu);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-4uCsc_qpXI9w);
  line-height: var(--token-k4Om1yQgeCHu);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-_-Jq7QwuUTyE);
  border-radius: var(--token-pY6mRM4vh2i5);
}
.softBackgroundcolor_neutral {
  background: var(--token-XgHXAToNl2hy);
}
.softBackgroundcolor_muted {
  background: var(--token-c7ql3ODNCqMc);
}
.softBackgroundcolor_success {
  background: var(--token-k2p-JGgEFMjq);
}
.softBackgroundcolor_warning {
  background: var(--token-aF0_ELqPKCYg);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-DpdErEgmwtKO);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-pY6mRM4vh2i5);
  border: 0px solid var(--token-_wGt-HjW2I3x);
}
.bordercolor_neutral {
  border-color: var(--token-LBU10v-du56E);
}
.bordercolor_muted {
  border-color: var(--token-FTZbvhDRvtrT);
}
.bordercolor_success {
  border-color: var(--token-WbfDwyYs3uAH);
}
.bordercolor_warning {
  border-color: var(--token-0jYgoF--YTyf);
}
.bordercolor_errorDestructive {
  border-color: var(--token-f3S2nrsQ-jrU);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-pY6mRM4vh2i5);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-zTwZnqK6iBZG);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-xQVQGGZXXn-h);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-ZT-9W7gwTlfE);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__r4Ss {
  display: flex;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  border-radius: 30px;
  padding: var(--token-pY6mRM4vh2i5) var(--token-iRe72aZcuwm9) 0.375rem;
}
.freeBox__r4Ss > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-pY6mRM4vh2i5));
  width: calc(100% + var(--token-pY6mRM4vh2i5));
}
.freeBox__r4Ss > :global(.__wab_flex-container) > *,
.freeBox__r4Ss > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r4Ss > :global(.__wab_flex-container) > picture > img,
.freeBox__r4Ss
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-pY6mRM4vh2i5);
}
.freeBoxsize_extraSmall__r4SslzEh9 {
  padding: var(--token-138ba7rHgJY2) var(--token-pY6mRM4vh2i5);
}
.freeBoxsize_small__r4SsWwhSh {
  padding: var(--token-pY6mRM4vh2i5) var(--token-ehZ9fgBqUElN);
}
.freeBoxsize_large__r4SsriXqG {
  padding-top: var(--token-138ba7rHgJY2);
  padding-bottom: var(--token-138ba7rHgJY2);
}
.freeBoxsize_extraLarge__r4SsKw4Xk {
  padding-left: var(--token-8M0OADQ1z2pG);
  padding-right: var(--token-8M0OADQ1z2pG);
}
.freeBoxroundedFull__r4SsHEeIl {
  padding-right: var(--token-8M0OADQ1z2pG);
  padding-left: var(--token-8M0OADQ1z2pG);
}
.freeBox__hJasa {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__hJasa8V1S3 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-UZk2-20UiHA9);
}
.slotTargetStartcolor_neutral {
  color: var(--token-CoqZTkdKdbqV);
}
.slotTargetStartcolor_muted {
  color: var(--token-NX4RC8SUTCj9);
}
.slotTargetStartcolor_success {
  color: var(--token-inMXr_1J5-eC);
}
.slotTargetStartcolor_warning {
  color: var(--token-JuZyYbSIlbei);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-Oos83sorFtPK);
}
.slotTargetStarttype_soft {
  color: var(--token-2-jW-zF4dnfE);
}
.slotTargetStarttype_bordered {
  color: var(--token-2-jW-zF4dnfE);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-BpQdeh6J6e9p);
}
.slotTargetStartsize_small {
  font-size: var(--token-BpQdeh6J6e9p);
}
.slotTargetStartsize_large {
  font-size: var(--token-4uCsc_qpXI9w);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-4uCsc_qpXI9w);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-sDm69ksG4k34);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-sDm69ksG4k34);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-8heWPa6ZNuDt);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-8heWPa6ZNuDt);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-oahqEJ8eLbK6);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-oahqEJ8eLbK6);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-I_sHUJCtggTc);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-I_sHUJCtggTc);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-keWAGO92Dm65);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-keWAGO92Dm65);
}
.svg___6FVx {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-UZk2-20UiHA9);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-CoqZTkdKdbqV);
}
.slotTargetLabelcolor_muted {
  color: var(--token-NX4RC8SUTCj9);
}
.slotTargetLabelcolor_success {
  color: var(--token-inMXr_1J5-eC);
}
.slotTargetLabelcolor_warning {
  color: var(--token-JuZyYbSIlbei);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-Oos83sorFtPK);
}
.slotTargetLabeltype_soft {
  color: var(--token-2-jW-zF4dnfE);
}
.slotTargetLabeltype_bordered {
  color: var(--token-2-jW-zF4dnfE);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-sDm69ksG4k34);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-8heWPa6ZNuDt);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-sDm69ksG4k34);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-oahqEJ8eLbK6);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-8heWPa6ZNuDt);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-I_sHUJCtggTc);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-oahqEJ8eLbK6);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-keWAGO92Dm65);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-I_sHUJCtggTc);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-keWAGO92Dm65);
}
.text__itMe {
  white-space: pre;
}
.freeBox__w5TI {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__w5TI8KWi4 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-UZk2-20UiHA9);
}
.slotTargetEndcolor_neutral {
  color: var(--token-CoqZTkdKdbqV);
}
.slotTargetEndcolor_muted {
  color: var(--token-NX4RC8SUTCj9);
}
.slotTargetEndcolor_success {
  color: var(--token-inMXr_1J5-eC);
}
.slotTargetEndcolor_warning {
  color: var(--token-JuZyYbSIlbei);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-Oos83sorFtPK);
}
.slotTargetEndtype_soft {
  color: var(--token-2-jW-zF4dnfE);
}
.slotTargetEndtype_bordered {
  color: var(--token-2-jW-zF4dnfE);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-BpQdeh6J6e9p);
}
.slotTargetEndsize_small {
  font-size: var(--token-BpQdeh6J6e9p);
}
.slotTargetEndsize_large {
  font-size: var(--token-4uCsc_qpXI9w);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-4uCsc_qpXI9w);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-sDm69ksG4k34);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-sDm69ksG4k34);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-8heWPa6ZNuDt);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-8heWPa6ZNuDt);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-oahqEJ8eLbK6);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-oahqEJ8eLbK6);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-I_sHUJCtggTc);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-I_sHUJCtggTc);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-keWAGO92Dm65);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-keWAGO92Dm65);
}
.svg__ikQ6S {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
