.aboutPage {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.aboutPage > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .aboutPage > * {
    grid-column: 4;
  }
}
.landingPage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1024px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.freeBox__dgbPe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  top: auto;
  left: auto;
  z-index: 1;
  background: url("/plasmic/copy_of_excell_website/images/youngAsianFemaleInspectorEngineerTouchingCheckingOperationPhotovoltaicSolarPanelOutdoorStationHoldingLaptopComputerLookingCameraWithSmileCopySpaceJpg.jpg") 0% 0% / cover no-repeat;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dgbPe {
    top: auto;
    left: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-height: 0;
  }
}
.heading {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  min-height: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.heading > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__a8VSo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 48px 80px;
}
.column__a8VSo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.column__a8VSo > :global(.__wab_flex-container) > *,
.column__a8VSo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__a8VSo > :global(.__wab_flex-container) > picture > img,
.column__a8VSo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__a8VSo {
    padding: 24px;
  }
}
.freeBox___5Vdoq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Vdoq {
    padding-left: 8px;
  }
}
.h1__v2BA {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 64px;
  font-weight: 300;
  align-self: center;
  min-width: 0;
  padding: 7px 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__v2BA {
    font-size: 40px;
    text-align: center;
    margin: 0px;
  }
}
.freeBox__emZ9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 24px;
  padding: 48px 80px;
}
.freeBox__emZ9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__emZ9 > :global(.__wab_flex-container) > *,
.freeBox__emZ9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__emZ9 > :global(.__wab_flex-container) > picture > img,
.freeBox__emZ9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__emZ9 {
    padding: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__emZ9 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__emZ9 > :global(.__wab_flex-container) > *,
  .freeBox__emZ9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__emZ9 > :global(.__wab_flex-container) > picture > img,
  .freeBox__emZ9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.freeBox__zAzaM {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__zAzaM > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__zAzaM > :global(.__wab_flex-container) > *,
.freeBox__zAzaM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zAzaM > :global(.__wab_flex-container) > picture > img,
.freeBox__zAzaM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__qPGA {
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-inMXr_1J5-eC);
  display: none;
  border-radius: 24px;
  padding: 8px 16px;
  border: 2px solid var(--token-bSbL7gS-JLE7);
}
.freeBox__qPGA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__qPGA > :global(.__wab_flex-container) > *,
.freeBox__qPGA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qPGA > :global(.__wab_flex-container) > picture > img,
.freeBox__qPGA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__ppHBi {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.label {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-bSbL7gS-JLE7);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 0px;
}
.h1__jjFGq {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  color: var(--token-bSbL7gS-JLE7);
  line-height: 1;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__jjFGq {
    font-size: 24px;
  }
}
.freeBox__cojry {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__cojry > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__cojry > :global(.__wab_flex-container) > *,
.freeBox__cojry > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cojry > :global(.__wab_flex-container) > picture > img,
.freeBox__cojry
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.text__anrZx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: var(--token-PC6O9-hPHdvT);
  text-align: justify;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__anrZx {
    font-size: 16px;
  }
}
.link__g4QDe {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  background: #235936;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: background;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  border-radius: 8px;
  padding: 18px 12px;
}
.link__g4QDe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__g4QDe > :global(.__wab_flex-container) > *,
.link__g4QDe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__g4QDe > :global(.__wab_flex-container) > picture > img,
.link__g4QDe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__g4QDe {
    width: 248px;
  }
}
.aboutPage .link__g4QDe:hover {
  background: #1e472c;
}
.img__wQ6Oq {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  align-self: center;
  flex-shrink: 0;
}
.img__wQ6Oq > picture > img {
  object-fit: cover;
}
.text__mlR6X {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  font-size: 19.2px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 600;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  font-family: "Open Sans", sans-serif;
  line-height: 150%;
  background: #ffffff;
  align-content: center;
  color: var(--token-PC6O9-hPHdvT);
  left: 0px;
  top: 0px;
  z-index: 999;
  position: absolute;
  min-width: 0;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationBar:global(.__wab_instance) {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
    align-content: flex-start;
    justify-content: flex-end;
    line-height: 0;
    color: var(--token-PC6O9-hPHdvT);
    padding-bottom: 24px;
    padding-top: 16px;
    margin: 0px;
  }
}
.logo7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
  padding: 0px;
}
.img__pTuQo {
  object-fit: cover;
  height: 40px;
  max-width: 298px;
  width: 100%;
  min-width: 0;
  display: none;
}
.img__pTuQo > picture > img {
  object-fit: cover;
}
.img___04E7U {
  object-fit: cover;
  width: 32px;
}
.img___04E7U > picture > img {
  object-fit: cover;
}
.img__w28Pu {
  object-fit: cover;
  width: 32px;
}
.img__w28Pu > picture > img {
  object-fit: cover;
}
.link__uTlm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  color: var(--token-PC6O9-hPHdvT);
  margin-right: 0px;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.aboutPage .link__uTlm:hover {
  color: var(--token-bSbL7gS-JLE7);
  transform: none;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}
.solution4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-PC6O9-hPHdvT);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.aboutPage .solution4:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.link___5Gsgn {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-PC6O9-hPHdvT);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.aboutPage .link___5Gsgn:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.logo8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo8 {
    display: none;
  }
}
.img__nod8I {
  object-fit: cover;
  height: 64px;
  max-width: 298px;
  width: 100%;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.img__nod8I > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__nod8I {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__nod8I > picture > img {
    object-fit: contain;
  }
}
.link__m2Uzx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  color: var(--token-PC6O9-hPHdvT);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.aboutPage .link__m2Uzx:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.link__ctHzQ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  color: var(--token-PC6O9-hPHdvT);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.aboutPage .link__ctHzQ:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.link__kcU2U {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  color: var(--token-PC6O9-hPHdvT);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__kcU2U {
    padding-bottom: 24px;
  }
}
.aboutPage .link__kcU2U:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.behindExcell {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 48px 80px;
}
.behindExcell > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: center;
  min-height: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.behindExcell > :global(.__wab_flex-container) > *,
.behindExcell > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.behindExcell > :global(.__wab_flex-container) > picture > img,
.behindExcell
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .behindExcell {
    height: 1113px;
    padding: 24px;
  }
}
.columns__nr8LR {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 48px;
}
.columns__nr8LR > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  --plsmc-rc-col-gap: 48px;
}
.columns__nr8LR > :global(.__wab_flex-container) > *,
.columns__nr8LR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__nr8LR > :global(.__wab_flex-container) > picture > img,
.columns__nr8LR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
.columns__nr8LR > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__nr8LR > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nr8LR {
    width: 100%;
    height: 100%;
    flex-direction: row;
    min-width: 0;
    min-height: 0;
    padding: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nr8LR > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    min-height: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nr8LR > :global(.__wab_flex-container) > *,
  .columns__nr8LR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__nr8LR > :global(.__wab_flex-container) > picture > img,
  .columns__nr8LR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nr8LR > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__xVyXt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column__xVyXt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.column__xVyXt > :global(.__wab_flex-container) > *,
.column__xVyXt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__xVyXt > :global(.__wab_flex-container) > picture > img,
.column__xVyXt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.h1__na3Z {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 48px;
  font-family: "Open Sans", sans-serif;
  color: var(--token-bSbL7gS-JLE7);
  min-width: 0;
}
.text__b3Roj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-PC6O9-hPHdvT);
  font-size: 18px;
  text-align: justify;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__b3Roj {
    padding-top: 0px;
  }
}
.link__knklk {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  background: none;
  color: var(--token-bSbL7gS-JLE7);
  font-family: "Open Sans", sans-serif;
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: background;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  border-radius: 8px;
  padding: 18px 12px;
  border: 2px solid var(--token-bSbL7gS-JLE7);
}
.link__knklk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__knklk > :global(.__wab_flex-container) > *,
.link__knklk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__knklk > :global(.__wab_flex-container) > picture > img,
.link__knklk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__knklk {
    width: 314px;
  }
}
.aboutPage .link__knklk:hover {
  background: var(--token-bSbL7gS-JLE7);
  color: var(--token-zy6xhYnWF8Y7);
  border-color: var(--token-NP8OXYMDqRsl);
}
.text__zlm6A {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  font-size: 24px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.svg__eSnqz {
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 26px;
  align-self: center;
  flex-shrink: 0;
}
.column__o6AEf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img___8S4Ee {
  object-fit: cover;
  max-width: 100%;
  border-radius: 24px;
}
.img___8S4Ee > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___8S4Ee {
    height: 100%;
    min-height: 0;
  }
}
.renewableEnergy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-NP8OXYMDqRsl);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 48px 80px;
}
.renewableEnergy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: center;
  min-height: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.renewableEnergy > :global(.__wab_flex-container) > *,
.renewableEnergy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.renewableEnergy > :global(.__wab_flex-container) > picture > img,
.renewableEnergy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .renewableEnergy {
    height: 1113px;
    padding: 24px;
  }
}
.columns__qF9W7 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 48px;
}
.columns__qF9W7 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  --plsmc-rc-col-gap: 48px;
}
.columns__qF9W7 > :global(.__wab_flex-container) > *,
.columns__qF9W7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__qF9W7 > :global(.__wab_flex-container) > picture > img,
.columns__qF9W7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
.columns__qF9W7 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__qF9W7 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qF9W7 {
    width: 100%;
    height: 100%;
    flex-direction: row;
    min-width: 0;
    min-height: 0;
    padding: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qF9W7 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    min-height: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qF9W7 > :global(.__wab_flex-container) > *,
  .columns__qF9W7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__qF9W7 > :global(.__wab_flex-container) > picture > img,
  .columns__qF9W7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qF9W7 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___8M2Dz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img___17Erj {
  object-fit: cover;
  max-width: 100%;
  border-radius: 24px;
}
.img___17Erj > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___17Erj {
    height: 100%;
    min-height: 0;
  }
}
.column__miUav {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column__miUav > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.column__miUav > :global(.__wab_flex-container) > *,
.column__miUav > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__miUav > :global(.__wab_flex-container) > picture > img,
.column__miUav
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.h1__yQ7ID {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 48px;
  font-family: "Open Sans", sans-serif;
  color: var(--token-bSbL7gS-JLE7);
  margin-top: calc(0px + 48px) !important;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__yQ7ID {
    margin-top: calc(0px + 48px) !important;
  }
}
.text__u76Pu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-PC6O9-hPHdvT);
  font-size: 18px;
  text-align: justify;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__u76Pu {
    padding-top: 0px;
  }
}
.link__eHQpV {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  background: none;
  color: var(--token-bSbL7gS-JLE7);
  font-family: "Open Sans", sans-serif;
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: background;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  border-radius: 8px;
  padding: 18px 12px;
  border: 2px solid var(--token-bSbL7gS-JLE7);
}
.link__eHQpV > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__eHQpV > :global(.__wab_flex-container) > *,
.link__eHQpV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__eHQpV > :global(.__wab_flex-container) > picture > img,
.link__eHQpV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__eHQpV {
    width: 314px;
  }
}
.aboutPage .link__eHQpV:hover {
  background: var(--token-bSbL7gS-JLE7);
  color: var(--token-zy6xhYnWF8Y7);
  border-color: var(--token-NP8OXYMDqRsl);
}
.text__nq0Ob {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  font-size: 24px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.svg__e5K4F {
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 26px;
  align-self: center;
  flex-shrink: 0;
}
.companyCards {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 48px 80px;
}
.companyCards > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: center;
  min-height: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.companyCards > :global(.__wab_flex-container) > *,
.companyCards > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.companyCards > :global(.__wab_flex-container) > picture > img,
.companyCards
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .companyCards {
    height: 1113px;
    padding: 36px;
  }
}
.columns__uC9B {
  display: flex;
  position: relative;
  width: auto;
  height: 100%;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  margin-right: 0px;
  flex-grow: 0;
  min-height: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 24px 80px;
}
.columns__uC9B > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  --plsmc-rc-col-gap: 48px;
}
.columns__uC9B > :global(.__wab_flex-container) > *,
.columns__uC9B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__uC9B > :global(.__wab_flex-container) > picture > img,
.columns__uC9B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
.columns__uC9B > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uC9B {
    width: 100%;
    height: 100%;
    flex-direction: row;
    padding-right: 24px;
    padding-left: 24px;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uC9B > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uC9B > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___933Eg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column___933Eg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column___933Eg > :global(.__wab_flex-container) > *,
.column___933Eg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___933Eg > :global(.__wab_flex-container) > picture > img,
.column___933Eg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: var(--token-bSbL7gS-JLE7);
  font-weight: 400;
  font-size: 33.9px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    text-align: center;
  }
}
.freeBox__mI4Im {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__mI4Im > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__mI4Im > :global(.__wab_flex-container) > *,
.freeBox__mI4Im > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mI4Im > :global(.__wab_flex-container) > picture > img,
.freeBox__mI4Im
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mI4Im {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mI4Im > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mI4Im > :global(.__wab_flex-container) > *,
  .freeBox__mI4Im > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mI4Im > :global(.__wab_flex-container) > picture > img,
  .freeBox__mI4Im
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.reveal___5YWqr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.card7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 220px;
  height: 120px;
  max-width: 100%;
  box-shadow: none;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 8px;
}
.card7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card7 > :global(.__wab_flex-container) > *,
.card7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card7 > :global(.__wab_flex-container) > picture > img,
.card7 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .card7 {
    padding: 16px;
  }
}
.img__csKq0 {
  object-fit: cover;
  max-width: 100%;
  width: 220px;
}
.img__csKq0 > picture > img {
  object-fit: cover;
}
.reveal__gIr3U:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.card8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 220px;
  height: 120px;
  max-width: 100%;
  box-shadow: none;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 24px;
}
.card8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card8 > :global(.__wab_flex-container) > *,
.card8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card8 > :global(.__wab_flex-container) > picture > img,
.card8 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .card8 {
    padding: 16px;
  }
}
.img__vs3Re {
  object-fit: cover;
  max-width: 100%;
  width: 220px;
}
.img__vs3Re > picture > img {
  object-fit: cover;
}
.reveal__uTlKp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.card9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 220px;
  height: 120px;
  max-width: 100%;
  box-shadow: none;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 24px;
}
.card9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card9 > :global(.__wab_flex-container) > *,
.card9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card9 > :global(.__wab_flex-container) > picture > img,
.card9 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .card9 {
    padding: 16px;
  }
}
.img__ofsRw {
  object-fit: cover;
  max-width: 100%;
  width: 220px;
}
.img__ofsRw > picture > img {
  object-fit: cover;
}
.reveal__ib3Pt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.card10 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 220px;
  height: 120px;
  max-width: 100%;
  box-shadow: none;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 24px;
}
.card10 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card10 > :global(.__wab_flex-container) > *,
.card10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card10 > :global(.__wab_flex-container) > picture > img,
.card10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .card10 {
    padding: 16px;
  }
}
.img__oila9 {
  object-fit: contain;
  max-width: 100%;
  width: 220px;
}
.img__oila9 > picture > img {
  object-fit: contain;
}
.card11 {
  flex-direction: column;
  position: relative;
  width: 360px;
  height: 440px;
  max-width: 100%;
  flex-shrink: 0;
  display: none;
  border-radius: 8px;
  padding: 24px;
  border: 1px solid #cccccc;
}
.card11 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card11 > :global(.__wab_flex-container) > *,
.card11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card11 > :global(.__wab_flex-container) > picture > img,
.card11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__ltQs8 {
  object-fit: cover;
  max-width: 100%;
}
.img__ltQs8 > picture > img {
  object-fit: cover;
}
.h3__yMtut {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__mo9B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.card12 {
  flex-direction: column;
  position: relative;
  width: 360px;
  height: 440px;
  max-width: 100%;
  flex-shrink: 0;
  display: none;
  border-radius: 8px;
  padding: 24px;
  border: 1px solid #cccccc;
}
.card12 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card12 > :global(.__wab_flex-container) > *,
.card12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card12 > :global(.__wab_flex-container) > picture > img,
.card12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__e9Z6T {
  object-fit: cover;
  max-width: 100%;
}
.img__e9Z6T > picture > img {
  object-fit: cover;
}
.h3__sxsml {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__dBA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-2-jW-zF4dnfE);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 0px;
}
.freeBox__eFZhg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-2-jW-zF4dnfE);
  min-width: 0;
  padding: 0px;
}
.section5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 24px;
}
.section5 > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .section5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.brandLogo3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .brandLogo3 {
    align-items: center;
    justify-content: center;
  }
}
.img___6Huql {
  object-fit: cover;
  max-width: 50%;
  height: auto;
  width: 240px;
}
.img___6Huql > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___6Huql {
    max-width: 100%;
  }
}
.section6 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-2-jW-zF4dnfE);
  min-width: 0;
  min-height: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.section6 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.section6 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .section6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section6 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___8BEzh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 24px;
}
.freeBox___02PHr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px;
}
.freeBox___02PHr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___02PHr > :global(.__wab_flex-container) > *,
.freeBox___02PHr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___02PHr > :global(.__wab_flex-container) > picture > img,
.freeBox___02PHr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: var(--token-NP8OXYMDqRsl);
  padding-top: 24px;
  padding-bottom: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4 {
    text-align: center;
  }
}
.text__pG2Xt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  margin-bottom: 0px;
  padding-bottom: 24px;
  margin-top: calc(0px + 24px) !important;
  margin-right: 0px;
  margin-left: 0px;
  min-width: 0;
  border-bottom: 1px solid var(--token-m67hX7GK55pB);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pG2Xt {
    text-align: justify;
    margin-top: calc(0px + 24px) !important;
  }
}
.text__bhIx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-m67hX7GK55pB);
  text-align: left;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  min-width: 0;
}
.column__kpTkH {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 24px;
}
.whereToFindUs3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 24px;
  border-bottom: 1px solid var(--token-m67hX7GK55pB);
}
.freeBox__dRm3A {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h5__vOKu {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-NP8OXYMDqRsl);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5__vOKu {
    text-align: center;
  }
}
.freeBox___0EadK {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___0EadK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___0EadK > :global(.__wab_flex-container) > *,
.freeBox___0EadK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0EadK > :global(.__wab_flex-container) > picture > img,
.freeBox___0EadK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0EadK > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__fuZdA {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.text__mQdYb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #d6d9ef;
  font-size: 14px;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  min-width: 0;
}
.aboutPage .text__mQdYb:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.connectWithUs4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 24px;
  border-bottom: 1px solid var(--token-m67hX7GK55pB);
}
@media (min-width: 0px) and (max-width: 768px) {
  .connectWithUs4 {
    align-items: center;
    justify-content: center;
  }
}
.freeBox__ud0F {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h5__mgB94 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-NP8OXYMDqRsl);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5__mgB94 {
    text-align: center;
  }
}
.freeBox__kQHw9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__kQHw9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__kQHw9 > :global(.__wab_flex-container) > *,
.freeBox__kQHw9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kQHw9 > :global(.__wab_flex-container) > picture > img,
.freeBox__kQHw9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kQHw9 > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__om7Ur {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.link__rlP64 {
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
}
.aboutPage .link__rlP64:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.freeBox__oh5R2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__oh5R2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__oh5R2 > :global(.__wab_flex-container) > *,
.freeBox__oh5R2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oh5R2 > :global(.__wab_flex-container) > picture > img,
.freeBox__oh5R2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oh5R2 > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__jMKzf {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.link__oazCt {
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
}
.aboutPage .link__oazCt:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.freeBox__hh6ME {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__hh6ME > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__hh6ME > :global(.__wab_flex-container) > *,
.freeBox__hh6ME > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hh6ME > :global(.__wab_flex-container) > picture > img,
.freeBox__hh6ME
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hh6ME > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__bWrRm {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.link__oRpgY {
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
}
.aboutPage .link__oRpgY:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.getSolar3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox___3GOx {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 24px;
}
.freeBox___3GOx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3GOx > :global(.__wab_flex-container) {
    margin-left: calc(0px - 24px);
    width: calc(100% + 24px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3GOx > :global(.__wab_flex-container) > *,
  .freeBox___3GOx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___3GOx > :global(.__wab_flex-container) > picture > img,
  .freeBox___3GOx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 24px;
    margin-top: 0px;
  }
}
.link___3Zvnp {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-iPL4GNYG7HPu);
  font-family: "Open Sans", sans-serif;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
}
.link___3Zvnp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___3Zvnp > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___3Zvnp > :global(.__wab_flex-container) > *,
  .link___3Zvnp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link___3Zvnp > :global(.__wab_flex-container) > picture > img,
  .link___3Zvnp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.h5__kaZnN {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-NP8OXYMDqRsl);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5__kaZnN {
    width: auto;
  }
}
.aboutPage .h5__kaZnN:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.svg__bl9WE {
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  color: var(--token-bSbL7gS-JLE7);
}
