@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Open+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&display=swap");

.plasmic_tokens {
  --token-Zi41YzkIXwYP: 1px;
  --plasmic-token-unnamed-style-token: var(--token-Zi41YzkIXwYP);
  --token-bSbL7gS-JLE7: #235936;
  --plasmic-token-brand-brand: var(--token-bSbL7gS-JLE7);
  --token-ehZ9fgBqUElN: 0.5rem;
  --plasmic-token-size-8: var(--token-ehZ9fgBqUElN);
  --token-0DSJN2ZU4OKb: Open Sans;
  --plasmic-token-sans-serif: var(--token-0DSJN2ZU4OKb);
  --token-o5K1yKsfFxHE: 1rem;
  --plasmic-token-font-md: var(--token-o5K1yKsfFxHE);
  --token-AywcRSdhTTv5: 1.25;
  --plasmic-token-line-height-md: var(--token-AywcRSdhTTv5);
  --token-pY6mRM4vh2i5: 0.375rem;
  --plasmic-token-size-6: var(--token-pY6mRM4vh2i5);
  --token-NPeVuWTduKrp: #374151;
  --plasmic-token-neutral-neutral: var(--token-NPeVuWTduKrp);
  --token-yDFJsmyBW-fM: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-yDFJsmyBW-fM);
  --token-U93syax8LeXu: #6b7280;
  --plasmic-token-muted-muted: var(--token-U93syax8LeXu);
  --token-138ba7rHgJY2: 0.25rem;
  --plasmic-token-size-4: var(--token-138ba7rHgJY2);
  --token-BpQdeh6J6e9p: 0.75rem;
  --plasmic-token-font-sm: var(--token-BpQdeh6J6e9p);
  --token-im1AV5JkuHeT: 1;
  --plasmic-token-line-height-sm: var(--token-im1AV5JkuHeT);
  --token-4uCsc_qpXI9w: 1.25rem;
  --plasmic-token-font-lg: var(--token-4uCsc_qpXI9w);
  --token-k4Om1yQgeCHu: 1.4;
  --plasmic-token-line-height-lg: var(--token-k4Om1yQgeCHu);
  --token-K0T5BnUgj5BF: 0.125rem;
  --plasmic-token-size-2: var(--token-K0T5BnUgj5BF);
  --token-3jcr4rnuAGLY: #408033;
  --plasmic-token-success-success: var(--token-3jcr4rnuAGLY);
  --token-_YLxETW0lbdc: #facc15;
  --plasmic-token-warning-warning: var(--token-_YLxETW0lbdc);
  --token-_-Jq7QwuUTyE: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-_-Jq7QwuUTyE);
  --token-XgHXAToNl2hy: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-XgHXAToNl2hy);
  --token-c7ql3ODNCqMc: #f8f8f8;
  --plasmic-token-muted-muted-soft: var(--token-c7ql3ODNCqMc);
  --token-k2p-JGgEFMjq: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-k2p-JGgEFMjq);
  --token-aF0_ELqPKCYg: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-aF0_ELqPKCYg);
  --token-DpdErEgmwtKO: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-DpdErEgmwtKO);
  --token-_wGt-HjW2I3x: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-_wGt-HjW2I3x);
  --token-LBU10v-du56E: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-LBU10v-du56E);
  --token-FTZbvhDRvtrT: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-FTZbvhDRvtrT);
  --token-WbfDwyYs3uAH: #86efac;
  --plasmic-token-success-success-border: var(--token-WbfDwyYs3uAH);
  --token-0jYgoF--YTyf: #fde047;
  --plasmic-token-warning-warning-border: var(--token-0jYgoF--YTyf);
  --token-f3S2nrsQ-jrU: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-f3S2nrsQ-jrU);
  --token-zTwZnqK6iBZG: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-zTwZnqK6iBZG);
  --token-xQVQGGZXXn-h: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-xQVQGGZXXn-h);
  --token-ZT-9W7gwTlfE: #00000033;
  --plasmic-token-interaction-pressed: var(--token-ZT-9W7gwTlfE);
  --token-iRe72aZcuwm9: 0.625rem;
  --plasmic-token-size-10: var(--token-iRe72aZcuwm9);
  --token-8M0OADQ1z2pG: 0.75rem;
  --plasmic-token-size-12: var(--token-8M0OADQ1z2pG);
  --token-UZk2-20UiHA9: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-UZk2-20UiHA9);
  --token-CoqZTkdKdbqV: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-CoqZTkdKdbqV);
  --token-NX4RC8SUTCj9: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-NX4RC8SUTCj9);
  --token-2-jW-zF4dnfE: #0d1a0a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-2-jW-zF4dnfE);
  --token-JuZyYbSIlbei: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-JuZyYbSIlbei);
  --token-inMXr_1J5-eC: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-inMXr_1J5-eC);
  --token-Oos83sorFtPK: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-Oos83sorFtPK);
  --token-sDm69ksG4k34: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-sDm69ksG4k34);
  --token-8heWPa6ZNuDt: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-8heWPa6ZNuDt);
  --token-oahqEJ8eLbK6: var(--token-3jcr4rnuAGLY);
  --plasmic-token-success-success-soft-foreground: var(--token-oahqEJ8eLbK6);
  --token-I_sHUJCtggTc: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-I_sHUJCtggTc);
  --token-keWAGO92Dm65: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-keWAGO92Dm65
  );
  --token-8O6kWRZdsvhx: #eff6ff;
  --plasmic-token-unnamed-style-token-2: var(--token-8O6kWRZdsvhx);
  --token-C_ltFjvLaO5S: #408033;
  --plasmic-token-unnamed-style-token-3: var(--token-C_ltFjvLaO5S);
  --token-Tu6ASdYCo6fN: 1rem;
  --plasmic-token-size-16: var(--token-Tu6ASdYCo6fN);
  --token-NP8OXYMDqRsl: #e8eaf6;
  --plasmic-token-basic-container-background: var(--token-NP8OXYMDqRsl);
  --token-iPL4GNYG7HPu: #030712;
  --plasmic-token-basic-text-primary: var(--token-iPL4GNYG7HPu);
  --token-r32is6WqaZlH: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-r32is6WqaZlH);
  --token-VrL4QjBoiQM3: 1.5rem;
  --plasmic-token-size-24: var(--token-VrL4QjBoiQM3);
  --token-dyCDt5Puh2xZ: #f8f8f8;
  --plasmic-token-unnamed-style-token-4: var(--token-dyCDt5Puh2xZ);
  --token-m67hX7GK55pB: #bdc1e4;
  --plasmic-token-basic-border: var(--token-m67hX7GK55pB);
  --token-PC6O9-hPHdvT: #4a456a;
  --plasmic-token-basic-text-secondary: var(--token-PC6O9-hPHdvT);
  --token-hLZxBFhd4ahM: #2e5427;
  --plasmic-token-unnamed-style-token-5: var(--token-hLZxBFhd4ahM);
  --token-jVo_bzQzkCYc: #ffffff;
  --plasmic-token-unnamed-style-token-6: var(--token-jVo_bzQzkCYc);
  --token-eLUc6DauFzuF: #2e5427;
  --plasmic-token-unnamed-style-token-7: var(--token-eLUc6DauFzuF);
  --token-jB2GFaukJT8A: var(--token-0jYgoF--YTyf);
  --plasmic-token-unnamed-style-token-8: var(--token-jB2GFaukJT8A);
  --token-9stLJwIitLKC: #4a456a;
  --plasmic-token-unnamed-style-token-9: var(--token-9stLJwIitLKC);
  --token-6htdG0HN9PmJ: #4a456a;
  --plasmic-token-unnamed-style-token-10: var(--token-6htdG0HN9PmJ);
  --token-qDvJt3nwBHhI: #4a456a;
  --plasmic-token-unnamed-style-token-11: var(--token-qDvJt3nwBHhI);
  --token-pGfTysfQl0ZK: #4a456a;
  --plasmic-token-unnamed-style-token-12: var(--token-pGfTysfQl0ZK);
  --token-LxImkfOuWpCj: #4a456a;
  --plasmic-token-unnamed-style-token-13: var(--token-LxImkfOuWpCj);
  --token-rH8vMkB8ISg6: #4a456a;
  --plasmic-token-unnamed-style-token-14: var(--token-rH8vMkB8ISg6);
  --token-flhVEzsreOgo: #4a456a;
  --plasmic-token-unnamed-style-token-15: var(--token-flhVEzsreOgo);
  --token-XZQexiSqSWyd: #f8f8f8;
  --plasmic-token-unnamed-style-token-16: var(--token-XZQexiSqSWyd);
  --token-kbATDsb15z4R: #f8f8f8;
  --plasmic-token-unnamed-style-token-17: var(--token-kbATDsb15z4R);
  --token-cyaq8PNy0SBs: #f8f8f8;
  --plasmic-token-unnamed-style-token-18: var(--token-cyaq8PNy0SBs);
  --token-eJu0ahcMP1bw: #f8f8f8;
  --plasmic-token-unnamed-style-token-19: var(--token-eJu0ahcMP1bw);
  --token-cSAK-Crpo0Wk: #f8f8f8;
  --plasmic-token-unnamed-style-token-20: var(--token-cSAK-Crpo0Wk);
  --token-igogs_SSdcPQ: #4a456a;
  --plasmic-token-unnamed-style-token-21: var(--token-igogs_SSdcPQ);
  --token-IN0EiCoDq4Vg: #4a456a;
  --plasmic-token-unnamed-style-token-22: var(--token-IN0EiCoDq4Vg);
  --token-wOmQAJq6dsxW: #4a456a;
  --plasmic-token-unnamed-style-token-23: var(--token-wOmQAJq6dsxW);
  --token-ZhY20METNHLh: #ffffff;
  --plasmic-token-unnamed-style-token-24: var(--token-ZhY20METNHLh);
  --token-T_SKM3__s8z4: #4a456a;
  --plasmic-token-unnamed-style-token-25: var(--token-T_SKM3__s8z4);
  --token-ktGt-rKDj2Lc: #4a456a;
  --plasmic-token-unnamed-style-token-26: var(--token-ktGt-rKDj2Lc);
  --token-MO2bZOeVr8d_: #4a456a;
  --plasmic-token-unnamed-style-token-27: var(--token-MO2bZOeVr8d_);
  --token-0LPGuE0HEm28: var(--token-bSbL7gS-JLE7);
  --plasmic-token-unnamed-style-token-28: var(--token-0LPGuE0HEm28);
  --token-XTXpoCZipM9J: #d6d9ef;
  --plasmic-token-unnamed-style-token-29: var(--token-XTXpoCZipM9J);
  --token-nPUDrS_q3-j5: #e8eaf6;
  --plasmic-token-unnamed-style-token-30: var(--token-nPUDrS_q3-j5);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-Ed7FcDhxzBMQ_font-family: "Inter", sans-serif;
  --mixin-Ed7FcDhxzBMQ_font-size: 16px;
  --mixin-Ed7FcDhxzBMQ_font-weight: 400;
  --mixin-Ed7FcDhxzBMQ_font-style: normal;
  --mixin-Ed7FcDhxzBMQ_color: #535353;
  --mixin-Ed7FcDhxzBMQ_text-align: left;
  --mixin-Ed7FcDhxzBMQ_text-transform: none;
  --mixin-Ed7FcDhxzBMQ_line-height: 1.5;
  --mixin-Ed7FcDhxzBMQ_letter-spacing: normal;
  --mixin-Ed7FcDhxzBMQ_white-space: pre-wrap;
  --mixin-Ed7FcDhxzBMQ_user-select: text;
  --mixin-Ed7FcDhxzBMQ_text-decoration-line: none;
  --mixin-Ed7FcDhxzBMQ_text-overflow: clip;
  --mixin-0kHkW6uLF4vE_color: #000000;
  --mixin-0kHkW6uLF4vE_font-weight: 700;
  --mixin-0kHkW6uLF4vE_font-size: 64px;
  --mixin-0kHkW6uLF4vE_line-height: 1;
  --mixin-0kHkW6uLF4vE_letter-spacing: -1px;
  --mixin-0kHkW6uLF4vE_white-space: pre-wrap;
  --mixin-qfy8SjfRwG9w_color: #000000;
  --mixin-qfy8SjfRwG9w_font-size: 48px;
  --mixin-qfy8SjfRwG9w_font-weight: 700;
  --mixin-qfy8SjfRwG9w_letter-spacing: -0.5px;
  --mixin-qfy8SjfRwG9w_line-height: 1.1;
  --mixin-qfy8SjfRwG9w_white-space: pre-wrap;
  --mixin-2uaCvU3MCPr8_color: #0070f3;
  --mixin-2uaCvU3MCPr8_white-space: pre-wrap;
  --mixin-oJZmDyJAv36z_color: #000000;
  --mixin-oJZmDyJAv36z_font-size: 32px;
  --mixin-oJZmDyJAv36z_font-weight: 600;
  --mixin-oJZmDyJAv36z_line-height: 1.2;
  --mixin-oJZmDyJAv36z_white-space: pre-wrap;
  --mixin-ceCh-KB750p4_color: #000000;
  --mixin-ceCh-KB750p4_font-size: 24px;
  --mixin-ceCh-KB750p4_font-weight: 600;
  --mixin-ceCh-KB750p4_line-height: 1.3;
  --mixin-ceCh-KB750p4_white-space: pre-wrap;
  --mixin-m68XdTRZBL6D_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-m68XdTRZBL6D_border-bottom-color: #dddddd;
  --mixin-m68XdTRZBL6D_border-bottom-style: solid;
  --mixin-m68XdTRZBL6D_border-bottom-width: 1px;
  --mixin-m68XdTRZBL6D_border-left-color: #dddddd;
  --mixin-m68XdTRZBL6D_border-left-style: solid;
  --mixin-m68XdTRZBL6D_border-left-width: 1px;
  --mixin-m68XdTRZBL6D_border-right-color: #dddddd;
  --mixin-m68XdTRZBL6D_border-right-style: solid;
  --mixin-m68XdTRZBL6D_border-right-width: 1px;
  --mixin-m68XdTRZBL6D_border-top-color: #dddddd;
  --mixin-m68XdTRZBL6D_border-top-style: solid;
  --mixin-m68XdTRZBL6D_border-top-width: 1px;
  --mixin-m68XdTRZBL6D_border-bottom-left-radius: 3px;
  --mixin-m68XdTRZBL6D_border-bottom-right-radius: 3px;
  --mixin-m68XdTRZBL6D_border-top-left-radius: 3px;
  --mixin-m68XdTRZBL6D_border-top-right-radius: 3px;
  --mixin-m68XdTRZBL6D_font-family: "Inconsolata";
  --mixin-m68XdTRZBL6D_padding-bottom: 1px;
  --mixin-m68XdTRZBL6D_padding-left: 4px;
  --mixin-m68XdTRZBL6D_padding-right: 4px;
  --mixin-m68XdTRZBL6D_padding-top: 1px;
  --mixin-m68XdTRZBL6D_white-space: pre-wrap;
  --mixin-IV5_C084jbXj_border-left-color: #dddddd;
  --mixin-IV5_C084jbXj_border-left-style: solid;
  --mixin-IV5_C084jbXj_border-left-width: 3px;
  --mixin-IV5_C084jbXj_color: #888888;
  --mixin-IV5_C084jbXj_padding-left: 10px;
  --mixin-IV5_C084jbXj_white-space: pre-wrap;
  --mixin-fTYxH1bPFtne_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-fTYxH1bPFtne_border-bottom-color: #dddddd;
  --mixin-fTYxH1bPFtne_border-bottom-style: solid;
  --mixin-fTYxH1bPFtne_border-bottom-width: 1px;
  --mixin-fTYxH1bPFtne_border-left-color: #dddddd;
  --mixin-fTYxH1bPFtne_border-left-style: solid;
  --mixin-fTYxH1bPFtne_border-left-width: 1px;
  --mixin-fTYxH1bPFtne_border-right-color: #dddddd;
  --mixin-fTYxH1bPFtne_border-right-style: solid;
  --mixin-fTYxH1bPFtne_border-right-width: 1px;
  --mixin-fTYxH1bPFtne_border-top-color: #dddddd;
  --mixin-fTYxH1bPFtne_border-top-style: solid;
  --mixin-fTYxH1bPFtne_border-top-width: 1px;
  --mixin-fTYxH1bPFtne_border-bottom-left-radius: 3px;
  --mixin-fTYxH1bPFtne_border-bottom-right-radius: 3px;
  --mixin-fTYxH1bPFtne_border-top-left-radius: 3px;
  --mixin-fTYxH1bPFtne_border-top-right-radius: 3px;
  --mixin-fTYxH1bPFtne_font-family: "Inconsolata";
  --mixin-fTYxH1bPFtne_padding-bottom: 3px;
  --mixin-fTYxH1bPFtne_padding-left: 6px;
  --mixin-fTYxH1bPFtne_padding-right: 6px;
  --mixin-fTYxH1bPFtne_padding-top: 3px;
  --mixin-fTYxH1bPFtne_white-space: pre-wrap;
  --mixin-DaJRFcUCfnxr_display: flex;
  --mixin-DaJRFcUCfnxr_flex-direction: column;
  --mixin-DaJRFcUCfnxr_align-items: stretch;
  --mixin-DaJRFcUCfnxr_justify-content: flex-start;
  --mixin-DaJRFcUCfnxr_list-style-position: outside;
  --mixin-DaJRFcUCfnxr_padding-left: 40px;
  --mixin-DaJRFcUCfnxr_position: relative;
  --mixin-DaJRFcUCfnxr_list-style-type: disc;
  --mixin-DaJRFcUCfnxr_white-space: pre-wrap;
  --mixin-YE6xmH4nM54H_display: flex;
  --mixin-YE6xmH4nM54H_flex-direction: column;
  --mixin-YE6xmH4nM54H_align-items: stretch;
  --mixin-YE6xmH4nM54H_justify-content: flex-start;
  --mixin-YE6xmH4nM54H_list-style-position: outside;
  --mixin-YE6xmH4nM54H_padding-left: 40px;
  --mixin-YE6xmH4nM54H_position: relative;
  --mixin-YE6xmH4nM54H_list-style-type: decimal;
  --mixin-YE6xmH4nM54H_white-space: pre-wrap;
  --mixin-kxQxZGI1hB3d_color: #000000;
  --mixin-kxQxZGI1hB3d_font-size: 20px;
  --mixin-kxQxZGI1hB3d_font-weight: 600;
  --mixin-kxQxZGI1hB3d_line-height: 1.5;
  --mixin-kxQxZGI1hB3d_white-space: pre-wrap;
  --mixin-ieLzdHY0x65J_color: #000000;
  --mixin-ieLzdHY0x65J_font-size: 16px;
  --mixin-ieLzdHY0x65J_font-weight: 600;
  --mixin-ieLzdHY0x65J_line-height: 1.5;
  --mixin-ieLzdHY0x65J_white-space: pre-wrap;
  --mixin-frQjGzhvye_w_color: #ffffff;
  --mixin-frQjGzhvye_w_white-space: pre-wrap;
  --mixin-q3dF1KIG2Sc-_white-space: pre-wrap;
  --mixin-ZG31XK1HdkqU_white-space: pre-wrap;
  --mixin-9t2khK4i9hXn_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-ufuLG9tXDhnM_white-space: pre-wrap;
  --plasmic-mixin-unnamed-style-preset_white-space: var(
    --mixin-ufuLG9tXDhnM_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-Ed7FcDhxzBMQ_font-family);
  font-size: var(--mixin-Ed7FcDhxzBMQ_font-size);
  font-weight: var(--mixin-Ed7FcDhxzBMQ_font-weight);
  font-style: var(--mixin-Ed7FcDhxzBMQ_font-style);
  color: var(--mixin-Ed7FcDhxzBMQ_color);
  text-align: var(--mixin-Ed7FcDhxzBMQ_text-align);
  text-transform: var(--mixin-Ed7FcDhxzBMQ_text-transform);
  line-height: var(--mixin-Ed7FcDhxzBMQ_line-height);
  letter-spacing: var(--mixin-Ed7FcDhxzBMQ_letter-spacing);
  white-space: var(--mixin-Ed7FcDhxzBMQ_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-0kHkW6uLF4vE_color);
  font-weight: var(--mixin-0kHkW6uLF4vE_font-weight);
  font-size: var(--mixin-0kHkW6uLF4vE_font-size);
  line-height: var(--mixin-0kHkW6uLF4vE_line-height);
  letter-spacing: var(--mixin-0kHkW6uLF4vE_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-qfy8SjfRwG9w_color);
  font-size: var(--mixin-qfy8SjfRwG9w_font-size);
  font-weight: var(--mixin-qfy8SjfRwG9w_font-weight);
  letter-spacing: var(--mixin-qfy8SjfRwG9w_letter-spacing);
  line-height: var(--mixin-qfy8SjfRwG9w_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-2uaCvU3MCPr8_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-oJZmDyJAv36z_color);
  font-size: var(--mixin-oJZmDyJAv36z_font-size);
  font-weight: var(--mixin-oJZmDyJAv36z_font-weight);
  line-height: var(--mixin-oJZmDyJAv36z_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-ceCh-KB750p4_color);
  font-size: var(--mixin-ceCh-KB750p4_font-size);
  font-weight: var(--mixin-ceCh-KB750p4_font-weight);
  line-height: var(--mixin-ceCh-KB750p4_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-m68XdTRZBL6D_font-family);
  border-radius: var(--mixin-m68XdTRZBL6D_border-top-left-radius)
    var(--mixin-m68XdTRZBL6D_border-top-right-radius)
    var(--mixin-m68XdTRZBL6D_border-bottom-right-radius)
    var(--mixin-m68XdTRZBL6D_border-bottom-left-radius);
  padding: var(--mixin-m68XdTRZBL6D_padding-top)
    var(--mixin-m68XdTRZBL6D_padding-right)
    var(--mixin-m68XdTRZBL6D_padding-bottom)
    var(--mixin-m68XdTRZBL6D_padding-left);
  border-top: var(--mixin-m68XdTRZBL6D_border-top-width)
    var(--mixin-m68XdTRZBL6D_border-top-style)
    var(--mixin-m68XdTRZBL6D_border-top-color);
  border-right: var(--mixin-m68XdTRZBL6D_border-right-width)
    var(--mixin-m68XdTRZBL6D_border-right-style)
    var(--mixin-m68XdTRZBL6D_border-right-color);
  border-bottom: var(--mixin-m68XdTRZBL6D_border-bottom-width)
    var(--mixin-m68XdTRZBL6D_border-bottom-style)
    var(--mixin-m68XdTRZBL6D_border-bottom-color);
  border-left: var(--mixin-m68XdTRZBL6D_border-left-width)
    var(--mixin-m68XdTRZBL6D_border-left-style)
    var(--mixin-m68XdTRZBL6D_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-IV5_C084jbXj_color);
  padding-left: var(--mixin-IV5_C084jbXj_padding-left);
  border-left: var(--mixin-IV5_C084jbXj_border-left-width)
    var(--mixin-IV5_C084jbXj_border-left-style)
    var(--mixin-IV5_C084jbXj_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-fTYxH1bPFtne_font-family);
  border-radius: var(--mixin-fTYxH1bPFtne_border-top-left-radius)
    var(--mixin-fTYxH1bPFtne_border-top-right-radius)
    var(--mixin-fTYxH1bPFtne_border-bottom-right-radius)
    var(--mixin-fTYxH1bPFtne_border-bottom-left-radius);
  padding: var(--mixin-fTYxH1bPFtne_padding-top)
    var(--mixin-fTYxH1bPFtne_padding-right)
    var(--mixin-fTYxH1bPFtne_padding-bottom)
    var(--mixin-fTYxH1bPFtne_padding-left);
  border-top: var(--mixin-fTYxH1bPFtne_border-top-width)
    var(--mixin-fTYxH1bPFtne_border-top-style)
    var(--mixin-fTYxH1bPFtne_border-top-color);
  border-right: var(--mixin-fTYxH1bPFtne_border-right-width)
    var(--mixin-fTYxH1bPFtne_border-right-style)
    var(--mixin-fTYxH1bPFtne_border-right-color);
  border-bottom: var(--mixin-fTYxH1bPFtne_border-bottom-width)
    var(--mixin-fTYxH1bPFtne_border-bottom-style)
    var(--mixin-fTYxH1bPFtne_border-bottom-color);
  border-left: var(--mixin-fTYxH1bPFtne_border-left-width)
    var(--mixin-fTYxH1bPFtne_border-left-style)
    var(--mixin-fTYxH1bPFtne_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-DaJRFcUCfnxr_display);
  flex-direction: var(--mixin-DaJRFcUCfnxr_flex-direction);
  align-items: var(--mixin-DaJRFcUCfnxr_align-items);
  justify-content: var(--mixin-DaJRFcUCfnxr_justify-content);
  list-style-position: var(--mixin-DaJRFcUCfnxr_list-style-position);
  padding-left: var(--mixin-DaJRFcUCfnxr_padding-left);
  position: var(--mixin-DaJRFcUCfnxr_position);
  list-style-type: var(--mixin-DaJRFcUCfnxr_list-style-type);
  flex-column-gap: var(--mixin-DaJRFcUCfnxr_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-YE6xmH4nM54H_display);
  flex-direction: var(--mixin-YE6xmH4nM54H_flex-direction);
  align-items: var(--mixin-YE6xmH4nM54H_align-items);
  justify-content: var(--mixin-YE6xmH4nM54H_justify-content);
  list-style-position: var(--mixin-YE6xmH4nM54H_list-style-position);
  padding-left: var(--mixin-YE6xmH4nM54H_padding-left);
  position: var(--mixin-YE6xmH4nM54H_position);
  list-style-type: var(--mixin-YE6xmH4nM54H_list-style-type);
  flex-column-gap: var(--mixin-YE6xmH4nM54H_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-kxQxZGI1hB3d_color);
  font-size: var(--mixin-kxQxZGI1hB3d_font-size);
  font-weight: var(--mixin-kxQxZGI1hB3d_font-weight);
  line-height: var(--mixin-kxQxZGI1hB3d_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-ieLzdHY0x65J_color);
  font-size: var(--mixin-ieLzdHY0x65J_font-size);
  font-weight: var(--mixin-ieLzdHY0x65J_font-weight);
  line-height: var(--mixin-ieLzdHY0x65J_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-frQjGzhvye_w_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}

:where(.root_reset) a:where(.a):not(:hover),
a:where(.root_reset.a):not(:hover),
:where(.root_reset .__wab_expr_html_text) a:not(:hover),
:where(.root_reset_tags) a:not(:hover),
a:where(.root_reset_tags):not(:hover) {
}
