.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.svg__vlvgS {
  position: relative;
  height: 1em;
}
.svg__ixEkt {
  position: relative;
  height: 1em;
}
.ariaModal:global(.__wab_instance) {
  background: var(--token-NP8OXYMDqRsl);
  display: block;
  color: var(--token-iPL4GNYG7HPu);
  font-family: var(--token-0DSJN2ZU4OKb);
  font-size: var(--token-o5K1yKsfFxHE);
  line-height: var(--token-AywcRSdhTTv5);
  outline-style: none;
  box-shadow: 0px 24px 48px -12px #00000040;
  border-radius: var(--token-Tu6ASdYCo6fN);
}
.pcls_Ng38O99zMasO {
  background: var(--token-r32is6WqaZlH);
  left: 0px;
  top: 0px;
  z-index: 10;
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  outline: none;
}
.ariaDialog:global(.__wab_instance) {
  max-width: 90vw;
  object-fit: cover;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  outline-style: none;
}
.h3__q8At {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-4uCsc_qpXI9w);
  min-width: 0;
  padding: var(--token-VrL4QjBoiQM3);
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
  padding-left: var(--token-VrL4QjBoiQM3);
  padding-right: var(--token-VrL4QjBoiQM3);
}
.freeBox__eOXo {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__eOXo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-8M0OADQ1z2pG));
  height: calc(100% + var(--token-8M0OADQ1z2pG));
}
.freeBox__eOXo > :global(.__wab_flex-container) > *,
.freeBox__eOXo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eOXo > :global(.__wab_flex-container) > picture > img,
.freeBox__eOXo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-8M0OADQ1z2pG);
}
.text__qlgSc {
  position: relative;
}
.freeBox__ze7Vh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
  padding: var(--token-VrL4QjBoiQM3);
}
.svg___2EBgq {
  position: relative;
  height: 1em;
}
.text__zZehD {
  padding-left: 0px;
}
.svg___2OuEx {
  position: relative;
  height: 1em;
}
