.root:global(.__wab_instance) {
  width: 300px;
  box-sizing: border-box;
  object-fit: cover;
  background: var(--token-NP8OXYMDqRsl);
  position: relative;
  overflow: auto;
  box-shadow: 0px 0px 12px 0px #00000040,
    0px 0px 0px 0.5px var(--token-FTZbvhDRvtrT);
  border-radius: var(--token-iRe72aZcuwm9);
  padding: var(--token-pY6mRM4vh2i5);
}
.ariaListBox:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  outline-style: none;
  min-width: 0;
}
.menuSection__kpcIh:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
