.root:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  color: var(--token-iPL4GNYG7HPu);
  font-family: var(--token-0DSJN2ZU4OKb);
  font-size: var(--token-o5K1yKsfFxHE);
  line-height: var(--token-AywcRSdhTTv5);
}
.freeBox {
  display: flex;
  flex-direction: row;
  padding: var(--token-ehZ9fgBqUElN) var(--token-iRe72aZcuwm9);
}
.slotTargetHeader {
  font-weight: 600;
}
