.learnPage {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.learnPage > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .learnPage > * {
    grid-column: 4;
  }
}
.landingPage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1024px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/copy_of_excell_website/images/contactUsBackground.png") top 50% left 50% / cover repeat;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .landingPage {
    height: 1200px;
  }
}
.container2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  z-index: 0;
  right: auto;
  bottom: auto;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container2 {
    top: auto;
    left: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-height: 0;
  }
}
.heading {
  display: flex;
  width: 100%;
  height: 39.73%;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.heading > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___3MObS {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___3MObS {
    padding-right: 8px;
  }
}
.freeBox__x3Er5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x3Er5 {
    padding-left: 8px;
  }
}
.img___5Z8Ja {
  object-fit: contain;
  max-width: 100%;
  width: 16px;
  height: 317px;
  flex-shrink: 0;
  display: none;
}
.img___5Z8Ja > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___5Z8Ja {
    align-self: flex-end;
    height: 223px;
  }
}
.h1__xg4W0 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #235936;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 300;
  align-self: center;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__xg4W0 {
    font-size: 40px;
    text-align: center;
    margin: 0px;
  }
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  font-family: "Open Sans", sans-serif;
  line-height: 150%;
  background: #ffffff;
  align-content: center;
  color: var(--token-PC6O9-hPHdvT);
  left: 0px;
  top: 0px;
  z-index: 999;
  position: absolute;
  min-width: 0;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationBar:global(.__wab_instance) {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
    align-content: flex-start;
    justify-content: flex-end;
    line-height: 0;
    color: var(--token-PC6O9-hPHdvT);
    padding-bottom: 24px;
    padding-top: 16px;
    margin: 0px;
  }
}
.logo3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
  padding: 0px;
}
.img__yPpu9 {
  object-fit: cover;
  height: 40px;
  max-width: 298px;
  width: 100%;
  min-width: 0;
  display: none;
}
.img__yPpu9 > picture > img {
  object-fit: cover;
}
.img__od4X {
  object-fit: cover;
  width: 32px;
}
.img__od4X > picture > img {
  object-fit: cover;
}
.img__nx4Ne {
  object-fit: cover;
  width: 32px;
}
.img__nx4Ne > picture > img {
  object-fit: cover;
}
.link__l7KWg {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  color: var(--token-PC6O9-hPHdvT);
  margin-right: 0px;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.learnPage .link__l7KWg:hover {
  color: var(--token-bSbL7gS-JLE7);
  transform: none;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}
.solution3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-PC6O9-hPHdvT);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.learnPage .solution3:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.link__k5B19 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-PC6O9-hPHdvT);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.learnPage .link__k5B19:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.logo4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo4 {
    display: none;
  }
}
.img__ik9Na {
  object-fit: cover;
  height: 64px;
  max-width: 298px;
  width: 100%;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.img__ik9Na > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ik9Na {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ik9Na > picture > img {
    object-fit: contain;
  }
}
.link__bwLRf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  color: var(--token-PC6O9-hPHdvT);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.learnPage .link__bwLRf:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.link__nx5V9 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  color: var(--token-PC6O9-hPHdvT);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.learnPage .link__nx5V9:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.link__hpkki {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  color: var(--token-PC6O9-hPHdvT);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__hpkki {
    padding-bottom: 24px;
  }
}
.learnPage .link__hpkki:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.container {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 320px;
  flex-direction: column;
  left: auto;
  top: auto;
  z-index: 0;
  background: var(--token-NP8OXYMDqRsl);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 80px;
  margin: 0px;
}
.container > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container {
    height: 120px;
    left: auto;
    top: auto;
    position: relative;
    flex-grow: 0;
    justify-self: auto;
    flex-shrink: 0;
    z-index: 1;
    width: 100%;
    min-width: 0;
    padding: 48px 24px;
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.card {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 1280px;
  height: auto;
  max-width: 100%;
  box-shadow: 8px 8px 56px 0px #00000014;
  left: auto;
  top: -150%;
  z-index: 999;
  background: #ffffff;
  margin-bottom: 0px;
  margin-top: calc(0px + 16px) !important;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 24px;
  padding: 48px;
}
.card > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.card > :global(.__wab_flex-container) > *,
.card > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card > :global(.__wab_flex-container) > picture > img,
.card > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .card {
    position: absolute;
    left: auto;
    top: -300%;
    margin-top: calc(0px + 16px) !important;
  }
}
.faQsTab:global(.__wab_instance) {
  width: 100%;
  overflow: scroll;
  max-width: 100%;
  object-fit: cover;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: var(--token-PC6O9-hPHdvT);
  min-width: 0;
}
.aboutSolar:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Open Sans", sans-serif;
  color: var(--token-PC6O9-hPHdvT);
}
.text__r909J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-bSbL7gS-JLE7);
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  min-width: 0;
}
.aboutAccordion:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: var(--token-PC6O9-hPHdvT);
  font-weight: 600;
  min-width: 0;
}
._1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--token-PC6O9-hPHdvT);
}
.text__ybQGa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-PC6O9-hPHdvT);
  min-width: 0;
}
.text__kmaK1 {
  color: #535353d9;
}
._2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--token-PC6O9-hPHdvT);
}
.text___7AxjU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-PC6O9-hPHdvT);
  min-width: 0;
}
._3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-PC6O9-hPHdvT);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.text__rmwPy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-PC6O9-hPHdvT);
  min-width: 0;
}
._4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--token-PC6O9-hPHdvT);
}
.text__k4PbD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-PC6O9-hPHdvT);
  min-width: 0;
}
.text___1Bq8P {
  color: var(--token-PC6O9-hPHdvT);
}
.freeBox__vbPwe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px 0px;
}
.freeBox__vbPwe > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__vbPwe > :global(.__wab_flex-container) > *,
.freeBox__vbPwe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vbPwe > :global(.__wab_flex-container) > picture > img,
.freeBox__vbPwe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__yWXc6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__yWXc6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yWXc6 > :global(.__wab_flex-container) > *,
.freeBox__yWXc6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yWXc6 > :global(.__wab_flex-container) > picture > img,
.freeBox__yWXc6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h1__hFc {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 33.9px;
  font-family: "Open Sans", sans-serif;
  color: var(--token-bSbL7gS-JLE7);
  font-weight: 600;
  min-width: 0;
}
.h1__ow0Dr {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  color: var(--token-bSbL7gS-JLE7);
  min-width: 0;
}
.freeBox___3MpzZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.link___000VX {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  background: #235936;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: background;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  border-radius: 8px;
  padding: 18px 12px;
}
.link___000VX > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___000VX > :global(.__wab_flex-container) > *,
.link___000VX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___000VX > :global(.__wab_flex-container) > picture > img,
.link___000VX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___000VX {
    width: 248px;
  }
}
.learnPage .link___000VX:hover {
  background: #1e472c;
}
.text__hft2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  font-size: 19.2px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 600;
}
.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-2-jW-zF4dnfE);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer {
    margin-top: 1245px;
    height: 1334px;
  }
}
.freeBox__aoCyc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-2-jW-zF4dnfE);
  min-width: 0;
  padding: 0px;
}
.section5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 24px;
}
.section5 > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .section5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.brandLogo3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .brandLogo3 {
    align-items: center;
    justify-content: center;
  }
}
.img__nhnRg {
  object-fit: cover;
  max-width: 50%;
  height: auto;
  width: 240px;
}
.img__nhnRg > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__nhnRg {
    max-width: 100%;
  }
}
.section6 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-2-jW-zF4dnfE);
  min-width: 0;
  min-height: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.section6 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.section6 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .section6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section6 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__nWbGe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 24px;
}
.freeBox__jIVtk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px;
}
.freeBox__jIVtk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__jIVtk > :global(.__wab_flex-container) > *,
.freeBox__jIVtk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jIVtk > :global(.__wab_flex-container) > picture > img,
.freeBox__jIVtk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: var(--token-NP8OXYMDqRsl);
  padding-top: 24px;
  padding-bottom: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4 {
    text-align: center;
  }
}
.text__hsqg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  margin-bottom: 0px;
  padding-bottom: 24px;
  margin-top: calc(0px + 24px) !important;
  margin-right: 0px;
  margin-left: 0px;
  min-width: 0;
  border-bottom: 1px solid var(--token-m67hX7GK55pB);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hsqg {
    text-align: justify;
    margin-top: calc(0px + 24px) !important;
  }
}
.text__dVBi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-m67hX7GK55pB);
  text-align: left;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  min-width: 0;
}
.column__o0JpY {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 24px;
}
.whereToFindUs3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 24px;
  border-bottom: 1px solid var(--token-m67hX7GK55pB);
}
.freeBox___1HR0B {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h5__lCcOz {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-NP8OXYMDqRsl);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5__lCcOz {
    text-align: center;
  }
}
.freeBox__v2Ipr {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__v2Ipr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__v2Ipr > :global(.__wab_flex-container) > *,
.freeBox__v2Ipr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v2Ipr > :global(.__wab_flex-container) > picture > img,
.freeBox__v2Ipr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v2Ipr > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__rspox {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.text___5Lm16 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #d6d9ef;
  font-size: 14px;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  min-width: 0;
}
.learnPage .text___5Lm16:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.connectWithUs4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 24px;
  border-bottom: 1px solid var(--token-m67hX7GK55pB);
}
@media (min-width: 0px) and (max-width: 768px) {
  .connectWithUs4 {
    align-items: center;
    justify-content: center;
  }
}
.freeBox__wgpYf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h5__hUm9C {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-NP8OXYMDqRsl);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5__hUm9C {
    text-align: center;
  }
}
.freeBox__oOpAu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__oOpAu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__oOpAu > :global(.__wab_flex-container) > *,
.freeBox__oOpAu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oOpAu > :global(.__wab_flex-container) > picture > img,
.freeBox__oOpAu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oOpAu > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__n4MiQ {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.link__nFqxc {
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
}
.learnPage .link__nFqxc:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.freeBox__hCLd5 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__hCLd5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__hCLd5 > :global(.__wab_flex-container) > *,
.freeBox__hCLd5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hCLd5 > :global(.__wab_flex-container) > picture > img,
.freeBox__hCLd5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hCLd5 > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__cpvd9 {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.link__aeDtV {
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
}
.learnPage .link__aeDtV:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.freeBox__z9JlO {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__z9JlO > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__z9JlO > :global(.__wab_flex-container) > *,
.freeBox__z9JlO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z9JlO > :global(.__wab_flex-container) > picture > img,
.freeBox__z9JlO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z9JlO > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__xYc8O {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.link__s716B {
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
}
.learnPage .link__s716B:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.getSolar3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox___2VIcY {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 24px;
}
.freeBox___2VIcY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2VIcY > :global(.__wab_flex-container) {
    margin-left: calc(0px - 24px);
    width: calc(100% + 24px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2VIcY > :global(.__wab_flex-container) > *,
  .freeBox___2VIcY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2VIcY > :global(.__wab_flex-container) > picture > img,
  .freeBox___2VIcY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 24px;
    margin-top: 0px;
  }
}
.link__xY7Pe {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-iPL4GNYG7HPu);
  font-family: "Open Sans", sans-serif;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
}
.link__xY7Pe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__xY7Pe > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__xY7Pe > :global(.__wab_flex-container) > *,
  .link__xY7Pe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__xY7Pe > :global(.__wab_flex-container) > picture > img,
  .link__xY7Pe
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.h5__uRo10 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-NP8OXYMDqRsl);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5__uRo10 {
    width: auto;
  }
}
.learnPage .h5__uRo10:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.svg__e8E0N {
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  color: var(--token-bSbL7gS-JLE7);
}
